/* ---- font import ---- */

@import 
url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ---- reset and def settings ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151518;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: 'Urbanist', sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* ---- header / text  ---- */

h1 {
    margin-bottom: 1rem;
}

.display {
    font-size: 1.0625rem;
    margin-bottom: 1rem;
}

/* ---- container section  ---- */

.square {
    cursor: pointer;
    
    display: inline-block;

    width: 6.25rem;
    height: 6.25rem;

    border: 1px solid white;
}

.o {
    position: relative;
}

.o::after {
    position: absolute;
    inset: 0;

    content: '\2B55';

    font-size: 3.125rem;
    line-height: 6.25rem;
}

.x {
    position: relative;
}

.x::after {
    position: absolute;
    inset: 0;

    content: '\274C';

    font-size: 3.125rem;
    line-height: 6.25rem;
}

/* ---- button section  ---- */

button {
    background: #CB2027;
    color: white;

    margin-top: 1rem;

    padding: 6px 16px;

    text-decoration: none;
    cursor: pointer;

    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

button:hover {
    transition: 0.4s;
    opacity: .8;
}