/* ---- font import ---- */

@import 
url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ---- reset and def settings ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}